---
layout: base.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /category/{{ category }}/
eleventyComputed:
  title: "{{ category }}"
---
<h1 class="page-title">{{ category }}</h1>
<div class="entry-list">
  {%- for post in collections[category] | reverse %}
  <article class="entry">
    <a class="entry-title" href="{{ post.url }}">{{ post.data.title }}</a>
    <time class="entry-date" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
  </article>
  {%- endfor %}
</div>
