---
layout: base.njk
---
<div class="entry-list">
  {%- for post in collections.posts | reverse %}
  <article class="entry">
    <a class="entry-title" href="{{ post.url }}">{{ post.data.title }}</a>
    <time class="entry-date" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
  </article>
  {%- endfor %}
</div>
